absl-py==2.1.0
affine==2.4.0
aiobotocore @ file:///C:/b/abs_431uzunk2v/croot/aiobotocore_1738237882529/work
aiohappyeyeballs @ file:///C:/b/abs_e9fm5mk6ak/croot/aiohappyeyeballs_1734469429350/work
aiohttp @ file:///C:/b/abs_d4_gdjffav/croot/aiohttp_1734687146788/work
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alabaster @ file:///C:/b/abs_45ba4vacaj/croot/alabaster_1718201502252/work
albucore==0.0.24
albumentations==2.0.6
altair==5.3.0
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
astroid @ file:///C:/b/abs_0cbdmb3jwk/croot/astroid_1736455948867/work
astropy @ file:///C:/b/abs_a6ryor8rkd/croot/astropy_1738094426721/work
astropy-iers-data @ file:///C:/b/abs_fact33de2d/croot/astropy-iers-data_1737137602781/work
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
asyncssh @ file:///C:/b/abs_8ee_ywwv_i/croot/asyncssh_1729522974229/work
atomicwrites==1.4.0
attrs==23.2.0
Automat @ file:///C:/b/abs_e6j20ekmp5/croot/automat_1743532580167/work
autopep8 @ file:///croot/autopep8_1708962882016/work
Babel==2.14.0
bcrypt @ file:///C:/b/abs_6bh_hni56u/croot/bcrypt_1736182479846/work
beautifulsoup4==4.12.3
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///C:/b/abs_16b05kiqvj/croot/black_1737659150021/work
bleach==6.1.0
blinker==1.8.2
bokeh @ file:///C:/b/abs_f6bf75elu5/croot/bokeh_1737999174485/work
botocore @ file:///C:/b/abs_1ctc2plazh/croot/botocore_1738226903582/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
branca==0.8.0
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
cftime==1.6.4.post1
chardet @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/chardet_1699498892802/work
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudpickle @ file:///C:/b/abs_8abv3sva4p/croot/cloudpickle_1721657372632/work
colorama==0.4.6
colorcet @ file:///C:/b/abs_7ep0mfawez/croot/colorcet_1709758405232/work
comm==0.2.2
constantly @ file:///C:/b/abs_cbuavw4443/croot/constantly_1703165617403/work
contextily==1.6.2
contourpy==1.3.1
cookiecutter @ file:///C:/b/abs_66untpu1ub/croot/cookiecutter_1711059869779/work
cryptography @ file:///C:/b/abs_ae5lrkywtg/croot/cryptography_1740577842775/work
cssselect @ file:///C:/b/abs_71gnjab7b0/croot/cssselect_1707339955530/work
csvdiff==0.3.3
cycler==0.12.1
cytoolz @ file:///C:/b/abs_9fo7kaynab/croot/cytoolz_1736803775290/work
dask @ file:///C:/b/abs_b819ma5s3z/croot/dask-core_1741970207786/work
dask-expr @ file:///C:/b/abs_a3l2uwpvbn/croot/dask-expr_1742226151168/work
datashader @ file:///C:/b/abs_7fi1hwtnu7/croot/datashader_1744385576590/work
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/deprecated_1699499370767/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///C:/b/abs_f79eg27d2q/croot/dill_1715094735295/work
distributed @ file:///C:/b/abs_42ljkiheum/croot/distributed_1741988119116/work
distro==1.9.0
docstring-to-markdown @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/docstring-to-markdown_1699484265167/work
docutils @ file:///C:/b/abs_8d42id67ov/croot/docutils_1744664123685/work
earthengine-api==1.3.0
et_xmlfile==2.0.0
executing==2.0.1
fastapi==0.115.12
fastjsonschema==2.19.1
filelock==3.18.0
flake8 @ file:///C:/b/abs_11zrixwsv1/croot/flake8_1726157202790/work
Flask==3.0.3
flatbuffers==24.3.25
folium==0.18.0
fonttools==4.54.1
fqdn==1.5.1
frozendict==2.4.4
frozenlist @ file:///C:/b/abs_06ctmb1zeo/croot/frozenlist_1730903113463/work
fsspec==2025.3.2
ftfy==6.3.1
gast==0.6.0
gdown==5.2.0
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
google-ai-generativelanguage==0.6.15
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-genai==1.14.0
google-generativeai==0.8.5
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet @ file:///C:/b/abs_bbl_18a2tm/croot/greenlet_1733860081977/work
grpcio==1.72.0rc1
grpcio-status==1.71.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.12.1
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///C:/b/abs_9bbkzym0jb/croot/holoviews_1741882167503/work
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.30.2
hvplot @ file:///C:/b/abs_3ack78yhuc/croot/hvplot_1746471225135/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna==3.7
ImageHash==4.3.2
imageio @ file:///C:/b/abs_4cup9zfkvm/croot/imageio_1738160462075/work
imagesize @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/imagesize_1699476341924/work
imbalanced-learn @ file:///C:/b/abs_e61qnz168l/croot/imbalanced-learn_1738614381129/work
importlib_metadata @ file:///C:/b/abs_9d0lp1ysmt/croot/importlib_metadata-suite_1732633510972/work
incremental @ file:///croot/incremental_1743512672142/work
inflection @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/inflection_1699500974258/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
installer==0.7.0
intake @ file:///C:/b/abs_ebww2no2x2/croot/intake_1726109581477/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.29.4
ipython==8.24.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==8.1.2
isoduration==20.11.0
isort @ file:///C:/b/abs_7es817tui1/croot/isort_1741285183905/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///C:/b/abs_f35dqz89dk/croot/itemloaders_1743513855167/work
itsdangerous==2.2.0
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jaraco.context @ file:///C:/b/abs_6f48xbyztf/croot/jaraco.context_1728505024809/work
jaraco.functools @ file:///C:/b/abs_a1jv6v_pzp/croot/jaraco.functools_1740408129620/work
jedi==0.19.1
jellyfish @ file:///C:/b/abs_c5ua9cti7n/croot/jellyfish_1736367467867/work
Jinja2==3.1.3
jiter==0.9.0
jmespath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jmespath_1701807551985/work
joblib==1.4.2
json5==0.9.25
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter @ file:///C:/b/abs_32aohix0i1/croot/jupyter_1737645821205/work
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
keras==3.6.0
keyring @ file:///C:/b/abs_596d81ux2c/croot/keyring_1745484709696/work
kiwisolver==1.4.7
lazy_loader @ file:///C:/b/abs_3fs2i5w5p3/croot/lazy_loader_1718176758844/work
lckr_jupyterlab_variableinspector @ file:///C:/b/abs_a7k1hndm37/croot/jupyterlab-variableinspector_1744638305846/work
libclang==18.1.1
linkify-it-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/linkify-it-py_1699558957411/work
llvmlite @ file:///C:/b/abs_da51wefv9a/croot/llvmlite_1741209883316/work
lmdb @ file:///C:/b/abs_2decx3xz4y/croot/python-lmdb_1736541366547/work
locket @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/locket_1699476508014/work
lxml==5.2.1
lz4 @ file:///C:/b/abs_8ep7mb2x8a/croot/lz4_1736369996037/work
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mdit-py-plugins_1699559788389/work
mdurl==0.1.2
mercantile==1.2.1
mistune==3.0.2
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
ml-dtypes==0.4.1
more-itertools @ file:///C:/b/abs_a2n4mhb8gn/croot/more-itertools_1727185463826/work
mpmath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mpmath_1699484863771/work
msgpack @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/msgpack-python_1699473924872/work
multidict @ file:///C:/b/abs_19e3ubo2ew/croot/multidict_1730905504444/work
multipledispatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/multipledispatch_1699473951974/work
multitasking==0.0.11
mypy @ file:///C:/b/abs_6epbyye_k3/croot/mypy-split_1736792006114/work
mypy-extensions @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mypy_extensions_1699482634516/work
namex==0.0.8
narwhals @ file:///C:/b/abs_224ub5a528/croot/narwhals_1742845975749/work
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netCDF4==1.7.2
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
nltk @ file:///C:/b/abs_3e10flry37/croot/nltk_1724427703710/work
notebook==7.1.3
notebook_shim==0.2.4
numba @ file:///C:/b/abs_f42h_j9bwg/croot/numba_1740668206517/work
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy==1.26.4
numpydoc @ file:///C:/b/abs_bbspp5l8vu/croot/numpydoc_1718279185573/work
ollama==0.4.8
openai==1.77.0
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.1
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
panel @ file:///C:/b/abs_22_519aee2/croot/panel_1746130297385/work
param @ file:///C:/b/abs_947gg_me2k/croot/param_1734618628313/work
parsel @ file:///C:/b/abs_ebc3tzm_c4/croot/parsel_1707503517596/work
parso==0.8.4
partd @ file:///C:/b/abs_e1k4ow1dv4/croot/partd_1736803443606/work
pathspec @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pathspec_1699472481068/work
patsy @ file:///C:/b/abs_f9h0eiedk0/croot/patsy_1738159949276/work
peewee==3.17.5
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.2.0
platformdirs==4.2.1
plotly==5.24.1
pluggy @ file:///C:/b/abs_dfec_m79vo/croot/pluggy_1733170145382/work
ply @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/ply_1699473999871/work
prometheus_client==0.20.0
prompt-toolkit==3.0.43
propcache @ file:///C:/b/abs_57780xb0gk/croot/propcache_1744012740137/work
Protego @ file:///C:/b/abs_48sti5uql_/croot/protego_1746479771804/work
proto-plus==1.24.0
protobuf==5.29.4
psutil==5.9.8
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval==0.2.2
py-cpuinfo @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/py-cpuinfo_1699495567147/work
pyarrow==16.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle @ file:///C:/b/abs_9bj6ihy3hn/croot/pycodestyle_1726150314067/work
pycparser==2.22
pyct @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyct_1699542988857/work
pycurl @ file:///C:/b/abs_60b5cviggn/croot/pycurl_1744743621149/work
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
PyDispatcher @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pydispatcher_1699543033434/work
pydocstyle @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pydocstyle_1699495611004/work
pyerfa @ file:///C:/b/abs_35x4fn08_4/croot/pyerfa_1738083087918/work
pyflakes @ file:///C:/b/abs_b6t1aazq2e/croot/pyflakes_1708963020907/work
pygame==2.5.2
pygame-ce==2.4.0
PyGithub @ file:///C:/b/abs_9alojnzbid/croot/pygithub_1725976303706/work
Pygments==2.17.2
PyJWT @ file:///C:/b/abs_02n5wes3j9/croot/pyjwt_1736178904450/work
pylint @ file:///C:/b/abs_52tcgdpqsk/croot/pylint_1743709218105/work
pylint-venv @ file:///C:/b/abs_3f6p_17zia/croot/pylint-venv_1709837680309/work
pyls-spyder==0.4.0
PyNaCl @ file:///C:/b/abs_b9cyxk0xhf/croot/pynacl_1736542112237/work
pyodbc @ file:///C:/b/abs_908vw1e38j/croot/pyodbc_1737479651089/work
pyogrio==0.10.0
pyOpenSSL @ file:///C:/b/abs_6cmmt1gx_z/croot/pyopenssl_1741343840223/work
pyparsing==3.1.1
pyproj==3.7.0
PyQt5==5.15.10
PyQt5_sip @ file:///C:/b/abs_d1i1jr9fgt/croot/pyqt-split_1736540551157/work/pyqt_sip
PyQtWebEngine==5.15.6
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1699473336188/work
pytest @ file:///C:/b/abs_9dllqyhfs_/croot/pytest_1738938859288/work
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==2.0.7
python-lsp-black @ file:///C:/b/abs_56xq_70uqy/croot/python-lsp-black_1744023225294/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///C:/b/abs_dd5ho9pgae/croot/python-lsp-server_1743715808372/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
pytoolconfig @ file:///C:/b/abs_f2j_xsvrpn/croot/pytoolconfig_1701728751207/work
pytorch-msssim==1.0.0
pytz==2024.1
pyuca @ file:///C:/b/abs_c4xy4agr42/croot/pyuca_1726251471052/work
pyviz_comms @ file:///C:/b/abs_674gfmqoxa/croot/pyviz_comms_1711136872853/work
PyWavelets @ file:///C:/b/abs_a8rls0q_ez/croot/pywavelets_1737133696904/work
pywin32==306
pywin32-ctypes @ file:///C:/b/abs_2cfx5l4nvi/croot/pywin32-ctypes_1709340246092/work
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.0.3
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/qstylizer_1699565338341/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl#sha256=be2f7d956d89710f13dee80f2d594e794c2710f12576fe60ecee84dd1ad72180
QtAwesome @ file:///C:/b/abs_f3usq20nxv/croot/qtawesome_1744810809443/work
qtconsole==5.5.1
QtPy==2.4.1
queuelib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/queuelib_1699543858829/work
rasterio==1.4.2
referencing==0.35.1
regex==2024.11.6
requests==2.31.0
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
roman-numerals-py @ file:///C:/b/abs_c6xpj9atdr/croot/roman-numerals-py_1744666293821/work
rope @ file:///C:/b/abs_2232rxaz98/croot/rope_1743709233829/work
rpds-py==0.18.0
rsa==4.9
Rtree @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rtree_1699565751755/work
s3fs @ file:///C:/b/abs_bexwmhhaba/croot/s3fs_1737133739845/work
safetensors==0.5.3
scikit-image @ file:///C:/b/abs_081xgoymhl/croot/scikit-image_1737473383970/work
scikit-learn==1.5.2
scipy==1.14.1
Scrapy @ file:///C:/b/abs_7d5vqiajdd/croot/scrapy_1743540914951/work
seaborn==0.13.2
Send2Trash==1.8.3
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
setuptools==75.5.0
shapely==2.0.6
simsimd==6.2.1
sip @ file:///C:/b/abs_b6twfwtueg/croot/sip_1736544693649/work
six==1.16.0
sklearn-compat @ file:///C:/b/abs_2495oc29im/croot/sklearn-compat_1738003941903/work
smmap==5.0.1
sniffio==1.3.1
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.5
Sphinx @ file:///C:/b/abs_38umzzph7f/croot/sphinx_1744737150958/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///C:/b/abs_22fibxeqsn/croot/spyder_1744816409025/work
spyder-kernels @ file:///C:/b/abs_eae6tyv1m_/croot/spyder-kernels_1743776069294/work
SQLAlchemy @ file:///C:/b/abs_275ybuj8n_/croot/sqlalchemy_1745854539419/work
stack-data==0.6.3
starlette==0.46.2
statsmodels @ file:///C:/b/abs_c797jbabmm/croot/statsmodels_1734018887218/work
streamlit==1.45.0
streamlit_folium==0.23.2
stringzilla==3.12.5
superqt @ file:///C:/b/abs_11kt812ym3/croot/superqt_1743709210824/work
sympy @ file:///C:/b/abs_b4u17p23yg/croot/sympy_1738108511395/work
tables @ file:///C:/b/abs_bb9u034au4/croot/pytables_1738950437778/work
tabulate @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tabulate_1701812852133/work
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tenacity==8.3.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
terminado==0.18.1
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///C:/b/abs_60f65m175u/croot/textdistance_1731571669774/work
threadpoolctl==3.5.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///C:/b/abs_8aikas7x_4/croot/tifffile_1741164551582/work
tinycss2==1.3.0
tldextract @ file:///C:/b/abs_34gknp7o18/croot/tldextract_1723064394448/work
token-utils==0.1.8
tokenizers==0.21.1
toml==0.10.2
tomli @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tomli_1699472528897/work
tomlkit @ file:///C:/b/abs_07yc6lwf0e/croot/tomlkit_1728650313581/work
toolz==0.12.1
torch==2.7.0+cu118
torchaudio==2.7.0+cu118
torchvision==0.22.0
tornado==6.4
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.3
ttkbootstrap==1.10.1
Twisted @ file:///C:/b/abs_65oatfcpaw/croot/twisted_1743537791862/work
twisted-iocpsupport @ file:///C:/b/abs_6883jqhfrn/croot/twisted-iocpsupport_1736544552637/work
types-python-dateutil==2.9.0.20240316
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2024.1
uc-micro-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/uc-micro-py_1699545612984/work
ujson @ file:///C:/b/abs_e5a_v6aejl/croot/ujson_1736543954444/work
unicodedata2 @ file:///C:/b/abs_dfnftvxi4k/croot/unicodedata2_1736543771112/work
Unidecode @ file:///C:/b/abs_4cczv71djp/croot/unidecode_1724790062151/work
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.1
uv==0.7.2
uvicorn==0.34.2
w3lib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/w3lib_1709162573908/work
watchdog==4.0.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.4
whatthepatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/whatthepatch_1699497134590/work
wheel==0.45.0
widgetsnbextension==4.0.10
win-inet-pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1699472992992/work
wrapt==1.16.0
xarray==2024.10.0
xlwings @ file:///C:/b/abs_e58r82ek19/croot/xlwings_1743513451045/work
xyzservices==2024.9.0
yapf @ file:///C:/b/abs_8aidayep18/croot/yapf_1708964372649/work
yarl @ file:///C:/b/abs_281qby2vim/croot/yarl_1732546854547/work
zict @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/zict_1699548979005/work
zipp @ file:///C:/b/abs_2fcpcg89my/croot/zipp_1732630746332/work
zope.interface @ file:///C:/b/abs_dd4yw8umk5/croot/zope.interface_1731939371965/work
