--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.6.0
torchvision==0.21.0
streamlit
numpy
opencv-python-headless
Pillow
albumentations
gdown
albumentations
matplotlib
pandas
pytorch-msssim
tqdm
